<h2>User info</h2>

<% if user.profile_image.attached? %>
  <%= image_tag user.profile_image %>
<% else %>
  <%= image_tag 'no_image' %>
<% end %>

<table class="table">
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
</table>

<span>
  <% if profile_user == current_user %>
    <%= link_to "edit", edit_user_path(current_user.id) %>
  <% end %>
</span>